#Исполняемый файл
/Попингвини

#Languages

Languages/Write

# Настройки VS Code
#.vscode/
#.clang-format
#.editorconfig

# Системные
.DS_Store
Thumbs.db

# Папка obj
obj/

# Корки
*.out

# Сохранения
*.FireForestSouls-Popingvini
